.test-template-container {
  width: 95vw;
  margin: 0 2rem;
}

.test-template-header {
  width: 100%;
  padding: 1rem 0;
}

.test-template-input {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.test-template__info {
  color: darkgray;
}

.test-template__buttons-container {
  display: flex;
  flex-direction: row-reverse;
}