body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.logo {
  font-family: 'Girassol', cursive;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  font-family: 'Bubblegum Sans', cursive;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,0 0 70px #ff00de,0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}

.navbar ul li a:hover {
  color: skyblue;
}

.mic-container {
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.mic {
  color: burlywood;
  padding-left: 0.5rem;
  cursor: pointer;
}

.mic:hover {
  color: pink;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

.sec-home {
  display: flex;
}

.sec-home__bg {
  height: 100%;
  width: 100%;
  background: url('./images/keyboard.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(15px);
}

.sec-home__content {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.sec-home__content__img {
  height: 10rem;
  width: 10rem;
  margin-right: 5rem;
}

.sec-home__content__text {
  font-family: 'Bubblegum Sans',
    cursive;
  color: #FAD61F !important;
}

.sec-ct {
  display: flex;
}

.sec-ct__bg {
  height: 100%;
  width: 100%;
  background: url('./images/pinablebalon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.sec-ct__content {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 2rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sec-ct__header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-ct__content_img {
  height: 6rem;
  margin-left: 1rem;
}

.test-template-input {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.sec-ct__content_header {
  font-family: 'Bubblegum Sans',
    cursive;
  color: #FAD61F !important;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: 'Bubblegum Sans',
    cursive;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  outline: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.btn:active {
  top: 0.5rem;

}

.sec-ts {
  display: flex;
}

.sec-ts-bg {
  height: 100%;
  width: 200%;
  background: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: movingclouds 25s linear infinite;
  -moz-animation: movingclouds 25s linear infinite;
  -o-animation: movingclouds 25s linear infinite;
}

.sec-ts-content {

  color: white;
  font-weight: bold;
  /* border: 1px solid grey;  */
  border-radius: 2rem;
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@keyframes movingclouds {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: -100%;
  }
}

.timer-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 3rem 0 0 0;
}

.timer {
  font-family: 'Orbitron', sans-serif;
  color: darkblue;
}

.script-container {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  color: darkblue;
}

.test-input {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.test-input:focus {
  border-color: rgb(240, 200, 127);
}

.correct {
  color: green;
  background-color: white;
}

.incorrect {
  color: white;
  text-decoration: underline;
  background-color: red;
}

.test-footer {
  display: flex;
  justify-content: space-between;
  color: darkblue;
}

.test-result-speed {
  font-size: 1rem !important;
}

.test-template__info {
  color: darkgray;
}

.test-template__buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.script-info {
  padding: 1rem 0;
}

.word-count {
  color: darkgray;
}

.script-test-container {
  border: 1px solid darkgray;
  margin: 1rem 4rem 1rem 4rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 1rem;
  background-color: white;
}

.sec-contact{
  display: flex;
  background-color: white;
  flex-direction: row;

}

.sec-contact__img__wrapper{
  width: 30%;
}

.sec-contact__content{
  width: 70%;
  height: 100%;
  background-color: #2D7EB0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white !important;
  font-size: 3rem;
  text-align: start;
  padding-left: 2rem;
}

.sec-contact__content a{
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {}